.background-img {
  background-image: url("../Images/books.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 100vh;
  justify-content: center;
  align-items: center;

  filter: blur(8px);
  -webkit-filter: blur(8px);
}
